<a href="/nd">Back</a>
<h3>File No: <%= @well.file_no %></h3>
<p>Well name: <%= @well.well_name %></p>
<p>Operator: <%= @well.operator %></p>
<p>Spud date: <%= @well.spud_date %></p>
<p>Well depth: <%= @well.td %></p>
<p>Latitude: <%= @well.latitude %></p>
<p>Longitude: <%= @well.longitude %></p>